.Rproj.user
.Rhistory
.RData
.Ruserdata
.xcodeproj
*.Rproj
*.R
bash scripts for cluster/
data/
figures/
r scripts/
dispersim_cpp.xcodeproj/
dispersim_cpp.xcscheme/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
dispersim_cpp.xcodeproj/xcuserdata/
